@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a2eec;
  background: url("https://images.unsplash.com/photo-1567935850829-e52d7bfe37ce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=100");
  background-size: cover;
  background-position: 50% 50%;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
}
.container #name {
  transition: 0.5s;
}
.container #name.before-load {
  transform: translateX(-80px);
  opacity: 0;
  visibility: hidden;
}
.container .mobile-img {
  display: none;
}
.container .profile {
  background-color: #1a1a2eec;
  color: #FFE3D8;
  padding: 40px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 450px;
}
.container .profile .devider {
  border: 0;
  border-bottom: 3px solid #46B5D1;
  margin: 15px 0;
}
.container .profile .profession {
  font-size: 17px;
  color: #FFE3D8;
  margin: 5px 1px;
  transition: 0.3s;
}
.container .profile .profession.before-load {
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}
.container .profile .location {
  margin: 5px 1px;
  font-size: 15px;
  transition: 0.3s;
  color: #BBBBBB;
}
.container .profile .location.before-load {
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}
.container .profile .icon {
  padding-right: 10px;
}
.container .profile .about {
  color: #BBBBBB;
  font-size: 14px;
  margin: 20px 0;
  word-spacing: 5px;
  line-height: 20px;
  transition: 0.5s;
}
.container .profile .about.before-load {
  transform: translateX(80px);
  opacity: 0;
  visibility: hidden;
}
.container .profile .btn {
  background-color: #46B5D1;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  color: #BBBBBB;
  margin: 20px 0;
  transition: 0.32s;
}
.container .profile .btn:hover {
  background-color: #16213E;
}
.container .profile .icons {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}
.container .profile .icons a {
  color: #46B5D1;
  font-size: 25px;
  transition: 0.3s;
}
.container .profile .icons a:hover {
  color: #8be1f7;
}
.container .profile .icons a.before-load {
  transform: translateY(40px);
  visibility: hidden;
  opacity: 0;
}
.container .photo {
  width: 300px;
}
.container .photo img {
  opacity: 0.9;
  width: 310px;
  border-radius: 10px;
  transition: 0.3s;
}
.container .photo img.before-load {
  transform: translateX(-10px);
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 888px) {
  .container {
    display: block;
  }
  .container .profile {
    margin: 20px;
    padding-top: 150px;
    text-align: center;
  }
  .container .profile .about {
    text-align: justify;
  }

  .mobile-img {
    display: block !important;
    border-radius: 20em;
    width: 200px;
    height: 200px;
    margin: auto;
    transition: 0.5s;
    opacity: 0.9;
    transform: translateY(140px);
  }

  .mobile-img.before-load {
    transform: translateX(-10px);
    visibility: hidden;
    opacity: 0;
  }

  .photo {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
