@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
	background: linear-gradient(to left, rgba(0, 0, 0, 0.5), teal);
	color: whitesmoke;
	transition: .5s;
	overflow: hidden;
}
.tengah{
	font-family: 'Raleway', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#greet{
	transform: translate(0, -60px) rotate(-50deg);
	transition: .5s;
	visibility: hidden;
	opacity: 0;
}

#tanggal{
	transform: translate(0, 60px) rotate(50deg);
	transition: .5s;
	visibility: hidden;
	opacity: 0;
}

#jam{
	transform: translate(-100px, 0);
	transition: .5s;
	visibility: hidden;
	opacity: 0;
}

.barang{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 90%;
}

.barang .child{
	background: rgba(225, 225, 225, 0.5);
	width: 100px;
	height: 100px;
	margin: 2px;
	transition: .6s;
	position: absolute;
	box-shadow: 3px 2px 2px rgba(225, 225, 225, 0.7);
	/* box-shadow: 0 0 40px whitesmoke; */
	animation: pindah 10s linear infinite;

}
.child:nth-child(1) {
	width: 300px;
	height: 300px;
	border-radius: 20em;
	right: -5%;
	margin: 2px;
	transition-delay: 9s;
	animation-duration: 7s;
}

.child:nth-child(2) {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	margin: 2px;
	left: 50%;
	transition-delay: 1s;
	transition-delay: 2s;
	animation-duration: 9s;
}
.child:nth-child(3) {
	width: 50px;
	height: 50px;
	border-radius: 100px;
	right: 4%;
	margin: 2px;
	transition-delay: 1s;
	animation-duration: 14s;
}

.child:nth-child(4) {
	width: 120px;
	height: 120px;
	margin: 2px;
	right: 60%;
	border-radius: 40em 3em 5em;
	transition-delay: 3s;
	animation-duration: 12.5s;
}
.child:nth-child(5) {
	width: 89px;
	height: 89px;
	border-radius: 100px;
	left: 20%;
	margin: 2px;
	transition-delay: 1s;
	animation-duration: 8.4s;
}
.child:nth-child(6) {
	width: 230px;
	height: 230px;
	left: -10%;
	margin: 2px;
	transition-delay: 2s;
	animation-duration: 15.6s;
}

.child:nth-child(7) {
	width: 50px;
	height: 50px;
	border-radius: 2px;
	margin: 2px;
	left: 10%;
	transition-delay: 24s;
	animation-duration: 21s;
}

.child:nth-child(8) {
	width: 56px;
	height: 56px;
	border-radius: 10px;
	margin: 2px;
	left: 80%;
	transition-delay: 2s;
	animation-duration: 13.5s;
}

.child:nth-child(9) {
	width: 300px;
	height: 300px;
	border-radius: 10px;
	margin: 2px;
	left: 28%;
	transition-delay: 4s;
	animation-duration: 8s;
}

.child:nth-child(10) {
	width: 110px;
	height: 110px;
	/* border-radius: 30em 4em; */
	border-radius: 10px;
	margin: 2px;
	right: 28%;
	transition-delay: 4s;
	transform: rotate(35deg);
	animation-duration: 15s;
}



@keyframes pindah{
	0%{
		transform: translate(0, 0px) rotate(0deg);
		visibility: hidden;
		opacity: 0;

	}
	100%{
		transform: translate(0, -1100px) rotate(-130deg);
		visibility: visible;
		opacity: .7;
		/* rotate: 20deg; */
	}
}